.services-custom-api .widget-header {
    display: none;
}

.services-custom-api .widget-type-custom-api .widget-content {
    padding: 8px 12px;
}

.services-custom-api .progress-bar-combined {
    height: 2.4rem;
}

.services-custom-api.services-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    flex-shrink: 1;
    min-width: 0;
}

.services-title img {
    width: 4rem;
    height: 4rem;
}
.services-custom-api .services-data {
    padding: 0 3rem;
}