.stat-grid-style {
  gap: 1rem;
  overflow-y: auto;
  padding-bottom: 8px;
  margin-bottom: -8px;
}

.stat-grid-style > * {
  background: hsla(var(--bghs), calc(var(--scheme) (var(--scheme) var(--bgl) + 12%)), 0.4);
  padding: 3px 2px;
  border-radius: var(--border-radius);
  font-size: 1rem;
  flex: 1 1 0;
  white-space: nowrap;
  min-width: 0;
  line-height: 1.4;
}

.stat-grid-style > *:not([data-popover-type]) > :nth-child(2),
.stat-grid-style > [data-popover-type] > :nth-child(2) > :nth-child(2),
.stat-grid-style > [data-popover-type].popover-active > :nth-child(1) > :nth-child(2) {
  font-size: 1.05rem;
}

.stat-card-container {
  position: relative;
}

.stat-card-container .stat-title-container {
  line-height: 1.3;
}

.stat-card-container .stat-title-container > .stat-title {
  color: var(--color-text-highlight);
  transition: color 0.3s ease;
}

.stat-card-container .stat-title-container:hover > .stat-title {
  color: var(--color-primary);
}

.stat-card-container .stat-card-badge {
  position: absolute;
  top: 0;
  right: 12px;
  background: hsla(var(--bghs), calc(var(--scheme) (var(--scheme) var(--bgl) + 12%)), 0.4);
  padding: 1px 7px;
  font-size: 0.95rem;
  letter-spacing: 0.05em;
  border-radius: 0 calc(var(--border-radius) - 10px) 5px 5px;
  user-select: none;
  -moz-user-select: none;
}