/* Grid style similar to Homepage */
.stat-grid-style {
    gap: 1rem;
    overflow-y: auto;
    padding-bottom: 8px;
    margin-bottom: -8px;
}

.stat-grid-style > * {
    background: hsla(var(--bghs), calc(var(--scheme) (var(--scheme) var(--bgl) + 12%)), 0.4);
    padding: 2px 4px;
    border-radius: var(--border-radius);
    font-size: 1rem;
    flex: 1 1 0;
    white-space: nowrap;
    min-width: 0;
}